# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
env/
venv/
myenv/
*.log

# FastAPI
*.db
instance/
.env
.env.*

# ---- Node / React ----
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.*

# ---- OS files ----
.DS_Store
Thumbs.db

# ---- IDE ----
.vscode/
.idea/
*.swp

